<launch>
  <node pkg="hba" type="visualize_map" name="visualize_map" output="screen">
    <!-- <param name="data_path" type="string" value="/home/map/region2-65/"/> -->
    <param name="data_path" type="string" value="/home/map/rgb_test/"/>
    <!-- <param name="data_path" type="string" value="/home/liunao/tj/5000/"/> -->
    
    <!-- <param name="data_path" type="string" value="/home/map/region0-5000/"/> -->

    <param name="downsample_size" type="double" value="0.1"/>
    <param name="marker_size" type="double" value="0.5"/>

    <param name="save_global_map" type="bool" value="false"/>
    <param name="pcd_start_index" type="int" value="0"/>
    <param name="pcd_end_index" type="int" value="20200"/>
    <param name="pub_step" type="int" value="1"/>
    
    <param name="pcd_name_fill_num" type="int" value="6"/> <!--set 5 for kitti07 and 0 for park-->
  </node>

  <arg name="rviz" default="1"/>
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_"
    args="-d $(find hba)/rviz_cfg/rosbag.rviz" />
  </group>
</launch>